.feature {
  display: flex;
}

.feature__icon {
  margin-right: rem(10px);
}

.feature__text {
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(18px);
  max-width: rem(90px);
}