.section {
  height: 100vh;
  min-height: rem(648px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font-color--white {
    color: #FFFFFF;
  }
}

.section__title {
  font-weight: 700;
  font-size: rem(48px);
  line-height: rem(58px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(42px);

  @include phones {
   font-size: rem(40px);
   line-height: rem(36px);
  }
}

.order__title {
  margin-bottom: rem(61px);
}

.order-section {
  background: url(../../img/bg_form.png) center top no-repeat;
  background-size: cover;

  @include tablets {
    background: url(../../img/bg-form-tablets.png) center top no-repeat;
  }
}

.benefits-section {
  background-color: #FFFFFF;
}

.reviews-section {
  background-color: #FFFFFF;
}

.map-section {
  background: url(../../img/map.png) center top no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: rem(23px) 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.phone-nubmer {
  display: flex;
  align-items: center;
}

.phone__number--icon {
  margin-right: rem(8px);
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}


.contacts {
  font-style: normal;

  @include phones {
    margin-bottom: rem(21px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__place {
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;

  @include phones {
    margin-bottom: rem(10px);
  }
}

.phone-number__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}